html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.photo {
  height: 200px;
  width: 200px;
}
.grid-container {
  display: grid;
  background-color: #fff;
  color: #444;
  
}
.grid-h4{
  display:inline-block;;
  vertical-align: top;
}
.grid-thumb{
  
  display:block;margin-right:5%;
}
.grid-price{
  
  display:inline-block;;
  vertical-align: top;
}